{% load footer %}
{#<div id="footer-wrapper">#}
{#  <div id="footer" class="centered">#}
{#    <span id="hidden_semicolon">;</span>#}
{#    <a href="#" class="footer-link">About</a>#}
{#    <a href="#" class="footer-link">Help</a>#}
{#    <a href="#" class="footer-link">Privacy</a>#}
{#    <a href="#" class="footer-link">Contact</a>#}
{#  </div>#}
{#</div>#}
<div id="bottomFooter">
<div class="darkBack">
    <div class="footerContainer">
        <div class="footer">
            <div><a href="#" class="footerLink">Privacy policy</a>
            </div>
            <div><a href="#" class="footerLink">Contact</a>
            </div>
            <div><a href="#" class="footerLink">Help</a>
            </div>
            <div><a href="#" class="footerLink">Terms of service</a>
            </div>
        </div>
    </div>
</div>
</div>
